.App-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-dark);
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  /* Match sidebar width */
}